@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  width: 100%;
}

@layer base {
  :root {
    --error: #ff0000;
    --success: #00ff00;
  }

  :root[data-theme="light"] {
    --primary-color: #3b82f6;
    --secondary-color: #dcdcdc;
    --bg-color: #ffffff;
    --bg-highlight-color: #e1e1e1d0;
    --border-color: #e8e8e8d0;
    --text-color: #000000;
    --my-text-color: #ffffff;
  }

  :root[data-theme="dark"] {
    --primary-color: #3b82f6;
    --secondary-color: #9a6eff;
    --bg-color: #121212;
    --bg-highlight-color: #1e1e1e;
    --border-color: #333333;
    --text-color: #ffffff;
    --my-text-color: #000000;
  }
}

.cedarville-cursive-regular {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
}