@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;

  --primary-color: #3b82f6;
  --secondary-color: #692bdd;
  --bg-color: #ffffff;
  --bg-highlight-color: #e1e1e1d0;
  --border-color: #e8e8e8d0;
  --text-color: #000000;
  --my-text-color: #ffffff;

}