services:
  db:
    image: mysql
    environment: 
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=chat
    ports:
      - 3306:3306
    volumes: 
      - /Users/seanclmn/Projects/chat/db:/var/lib/mysql
